@import url('https://fonts.googleapis.com/css2?family=Barlow');

body {
    font-family: "Barlow";
    margin: 0;
    background-color: #779cbb;
}

a {
    color: black;
    text-decoration: underline;
}

.nav {
    background-color: #6c698D;
}

.nav-title {
    margin: 0;
    padding: 2vh 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    gap: 10vw;
    margin: 2vh;
}

.leaderboards {
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 2vw;
}

.leaderboard-preview {
    width: 200px;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 3px solid black;
    padding: 8px;
    margin: 8px;
    width: 100%;
}

.score-container {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.score-container::-webkit-scrollbar,
.score-container::-webkit-scrollbar-button {
    display: none;
}

.score-rank {
    font-size: 32px;
    font-weight: 700;
    margin: 0 20px;
}

.leaderboard-container,
.games {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 2vw;
}


.score-container,
.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    border: 4px solid #6C698D;
    border-radius: 2rem .1rem;
    padding: 2vh 4vw;
    background-color: #D4D2D5;
    box-shadow: #000 0 2px 8px;
    min-width: 300px;
    height: 250px;
}

.game-card-title {
    text-align: center;
    font-size: 24px;
    margin: 0;
}

.game-card-preview {
    margin-top: 8px;
    width: 200px;
}

.gamepage-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #9494a3;
    border-bottom: 3px solid black;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.1);
}

.gamepage-header-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1vh 0;
}

.header-targets > .guessable,
.header-targets > .guessable > img {
    height: 75px;
    width: 75px;
}

.timer {
    width: 10vw;
    font-size: 32px;
}

.header-targets {
    display: flex;
    flex-direction: row;
}

.dropdown-container {
    position: absolute;
    /* height: 150px;
    width: 50px; */
}

.dropdown {
    display: none;
}

.guessable {
    border: 3px solid black;
    height: 75px;
    width: 75px;
}

.open-guess {
    display: flex;
    flex-direction: column;
    border: 5px solid red;
}

.open-dropdown {
    display: flex;
    flex-direction: column;
    border: 5px solid blue;
}

.closed {
    display: none !important;
    border: none;
}

.image-picked {
    margin: 25vh auto;
    margin-bottom: 10vh;
    display: flex;
}

.image-picked > img {
    margin: auto;
}

.gameover-screen {
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 3px solid black; */
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.gameover-form {
    background-color: #D4D2D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #779cbb;
    padding: 5vh 10vw;
    border-radius: 4em 0.1em;
}