.gamepage-header-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1vh 0;
}

.header-targets > .guessable,
.header-targets > .guessable > img {
    height: 75px;
    width: 75px;
    border: none;
}

.timer {
    width: 20vw;
    font-size: 32px;
    text-align: center;
}

.header-targets {
    display: flex;
    flex-direction: row;
    border: 3px solid #3594f3;
}

.dropdown-container {
    position: absolute;
    box-shadow: #000 0 2px 8px;
}

.dropdown {
    display: none;
}

.guessable {
    /* border: 3px solid black; */
    border-bottom: 3px solid #3594f3;
    height: 75px;
    width: 75px;
}

.dropdown > .guessable:last-child  {
    border-bottom: none;;
}

.open-guess {
    display: flex;
    flex-direction: column;
    border: 5px solid red;
    box-shadow: #000 0 2px 8px;
    border-radius: 70px;
}

.open-dropdown {
    display: flex;
    flex-direction: column;
    border: 5px solid #3594f3;
}

.closed {
    display: none !important;
    border: none;
}

.image-picked {
    margin: 15vh auto;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
}

.image-picked > img {
    margin: auto 2vw;
}

.gameover-error,
.gameover-screen,
.gamepage-error {
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 3px solid black; */
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.gameover-form {
    background-color: #e8eff7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #3594f3;
    padding: 5vh 10vw;
    border-radius: 4em 0.1em;
}

.gameover-form > input {
    margin-top: 2vh;
}

.gameover-error-message,
.gamepage-error-message {
    background-color: #ffc1ba;
    padding: 2vw;
    border-radius: 8px;
    border: 2px solid red;
    text-align: center;
}

@media (max-width: 800px) {
    .image-picked {
        margin: 0;
        margin-top: 15vh;
        flex-grow: 1;
        overflow: scroll;
    }
    .image-picked > img {
        height: 100%;
    width: fit-content;
    }
}